numpy==2.3.1
opencv-python-headless==4.11.0.86
streamlit==1.46.0
supervision==0.25.1
ultralytics==8.3.159
opencv-python==4.9.0.80
opencv-contrib-python==4.10.0.84
torchvision==0.15.2
torchvision
Clip
Pillow
pip install git+https://github.com/openai/CLIP.git